<div class="zc_anwia"><h2>店铺编辑</h2></div>
<div class="zc_message">
    <form name="storeModify" action="__CONTROLLER__/storeSave" method="post" enctype="multipart/form-data">
    	<div class="zc_shop">
    		<span>店铺名称：</span>
    		<input type="text" name="store_name" value="{$info.store_name}" class="zc_if_empty inputWidth200">
    		<span class="zc_if_alt">请输入店铺名称</span>
    	</div>
    	<div  class="zc_shop">
    		<span>所属分类：</span>
    		<assign name="select_category_fid_value" value="$info['fid']"/>
    		<assign name="select_category_sid_value" value="$info['sid']"/>
    		<include file="./Appcenter/Public/public/common.category.html"/> 
    	</div>
    	<div  class="zc_shop">
    		<span>营业电话：</span>
    		<input type="text" name="phone" value="{$info.phone}" class="zc_if_fixed zc_if_empty">
            <span class="zc_if_alt">请输入正确格式的营业电话</span>
    	</div>
    	<div  class="zc_shop">
    		<span>推荐人账号：</span>
    		<input type="text" name="retel" value="{$info.retel}" class="zc_if_empty">
            <span class="zc_if_alt">请输入正确格式的推荐人账号</span>
    	</div>
    	<div class="zc_shop">
        	<span>人均消费:</span>
        	<input type="text" name="person_consumption" value="{$info.person_consumption}" class="inputWidth200 zc_if_price zc_if_empty">
        </div>
        <div class="zc_shop">
        	<span>所属市区:</span>
    		<input type="text" name="province" id="province" value="{$info.province}" readonly/>
    		<input type="text" name="city" id="city" value="{$info.city}" readonly/>
    		<input type="text" name="country" id="country" value="{$info.country}" readonly/>
    		<span class="shuoming">此处值无需修改,系统会自动调整</span>
    	</div>
        <div class="zc_shop">
        	<span>店铺地址:</span>
        	<input type="text" name="address" id="address" value="{$info.address}" class="inputWidth200 zc_if_empty">
        	<button type="button" class="btn" name="submit" value="定位" onclick="bmap.searchMapByAddress($('#address').val())">定位</button>
       		<span class="shuoming inputWidth600">如果新地址的省/市/区与老地址的省/市/区对比有变动，则必须要在点击【保存】按钮之前点击一次【定位】按钮</span>
        </div>
        <div class="zc_shop">
        	<span>定位坐标:</span>
        	<input type="text" name="longitude" id="lng" value="{$info.longitude}" readonly/> - <input type="text" id="lat" name="latitude" value="{$info.latitude}" readonly/>
        	<div id="baidumap" style="width:600px; height:370px; margin-top:5px; border:1px #ccc solid;"></div>
        </div>
        <div class="zc_shop">
        	<span>店内服务:</span>
        	<label><input type="checkbox" name="services[]" value="1" <if condition="$info.service eq '1' OR $info.service eq '3'"> checked="checked"</if> >WIFI</label>
        	<label><input type="checkbox" name="services[]" value="2" <if condition="$info.service eq '2' OR $info.service eq '3'"> checked="checked"</if>>停车场</label>
        </div>
        <div class="zc_shop">
        	<span>活动折扣:</span>
        	<select name="discount">
        		<for start="5" end="10" step="0.5">
        		<option value="{$i}" <if condition="$info.discount eq $i">selected</if> >{$i}</option>
        		</for>
        	</select>
        	当前折扣:{$info.discount}
        </div>
        <div class="zc_shop">
        	<span>折扣标题:</span>
        	<input type="text" name="pname" value="{$zk.pname}" class="inputWidth400" placeholder="活动标题"/>
        </div>
        <div class="zc_shop">
        	<span style="display:inline-block;float:left;margin-right:5px;">营业时间:</span>
        	<div class="form-group left">
				<input type="text" name="start_time" value="{$info.start_time|date='H:i',###}" onfocus="WdatePicker({ isShowClear: false, readOnly: true,  dateFmt: 'HH:mm' })" readonly="readonly">
				--&nbsp;
			</div>
			<div class="form-group left">
				<input type="text" name="end_time" value="{$info.end_time|date='H:i',###}"  onfocus="WdatePicker({ isShowClear: false, readOnly: true,  dateFmt: 'HH:mm' })" readonly="readonly">
			</div>
        </div>
        <div style="clear:both"></div>
    	<div class="zc_shop">
    		<span>店铺Logo：</span>
    		<ul id="warp2" >
          	 	 <li>
                 <div class="warp_pic">
                     <if condition="preg_match('/^http/',$info['store_img'])">
                     <img id="imgShow_WU_FILE_0" src="{$info.store_img}" class="zc_shop_img" />
                     <else/>
                     <img id="imgShow_WU_FILE_0" src="{:U('/', '','', true)}{$info.store_img}" class="zc_shop_img" />
                     </if>
                 </div>
                 <div class="zc_imgStum">上传文件</div>
                 <input type="file" id="up_img_WU_FILE_0" name="store_img" class="zc_np_pic" />
      		     </li>
       		</ul>
    	</div>
    	<div style="clear:both"></div>
    	<div class="zc_shop">
    		<span>营业执照号码：</span>
    		<input type="text" name="bus_lice_num" value="{$info.bus_lice_num}" class="zc_if_number zc_if_empty inputWidth200">
            <span class="zc_if_alt"></span>
    	</div>
    	<div class="zc_shop">
    		<span>营业执照：</span>
    		<ul id="warp2" >
          	 	 <li>
                 <div class="warp_pic">
                 	 <if condition="preg_match('/^http/',$info['lice_img'])">
                     <img id="imgShow_WU_FILE_1" src="{$info.lice_img}" class="zc_shop_img" />
                     <else/>
                     <img id="imgShow_WU_FILE_1" src="{:U('/', '','', true)}{$info.lice_img}" class="zc_shop_img" />
                     </if>
                 </div>
                 <div class="zc_imgStum">上传文件</div>
                 <input type="file" id="up_img_WU_FILE_1" name="lice_img" class="zc_np_pic" />
      		     </li>
       		</ul>
    	</div>
    	<div style="clear:both"></div>
    	<div class="zc_shop">
    		<span style="display:block;margin-bottom:5px;">环境图片:</span>
    		<ul id="warp" class="clear">
           	 	<div class="zc_addition2" name="photo[]" >添加图片</div>
        		<foreach name="info['carousel1']" key="key" item="item1">
                  <li class="zc_details_item_{$key}">
                     <div class="warp_pic">
                     	 <if condition="preg_match('/^http/',$item1)">
                         <img id="imgBlock_{$key}" src="{$item1}" class="zc_shop_img"  />
                         <else/>
                         <img id="imgBlock_{$key}" src="{:U('/', '','', true)}{$item1}" class="zc_shop_img"  />
                         </if>
                        <a href="javascript:" class="zc_sc_btn"></a>
                     </div>
                     <div class="zc_imgStum2" >上传文件</div>
                     <input type="hidden" class="mutilimg" name="photo[]" value="{$item1}" />
                 </li> 
                 </foreach>
             </ul>
    	</div>
    	<div class="zc_shop">
    		<span style="display:block;margin-bottom:5px;">商户简介:</span>
            <textarea id="content1" name="content" style="width:100%;height:300px;visibility:hidden;resize:none">{$info.content|htmlspecialchars_decode}</textarea>
    	</div>
    	
    	<div class="zc_shop">
    		<span style="display:block;margin-bottom:5px;">升级认证图片:</span>
    		<ul id="warp" class="clear">
           	 	<div class="zc_addition2" name="upimg[]" >添加图片</div>
        		<foreach name="info['store_upgrade']" key="key" item="item1">
                  <li class="zc_details_item_{$key}">
                     <div class="warp_pic">
                     	 <if condition="preg_match('/^http/',$item1)">
                         <img id="imgBlock_{$key}" src="{$item1}" class="zc_shop_img"  />
                         <else/>
                         <img id="imgBlock_{$key}" src="{:U('/', '','', true)}{$item1}" class="zc_shop_img"  />
                         </if>
                        <a href="javascript:" class="zc_sc_btn"></a>
                     </div>
                     <div class="zc_imgStum2" >上传文件</div>
                     <input type="hidden" class="mutilimg" name="upimg[]" value="{$item1}" />
                 </li> 
                 </foreach>
             </ul>
    	</div>
    	
    	<div class="zc_shop">
    		<span>客服平台:</span>
    		<select name="affiliate[service_platform_id]" id="service_platform_id">
    			<option value="" <if condition="$info[affiliate]['service_platform_id'] eq ''">selected</if> >不启用</option>
    			<foreach name="customer_service_platform" item="item">
    			<option value="{$item.platform_id}" <if condition="$info[affiliate]['service_platform_id'] eq $item[platform_id]">selected</if> >{$item.platform_name}</option>
    			</foreach>
    		</select>
    		<span class="shuoming">当不启用时则默认使用系统内置的即时通讯</span>
    	</div>
    	<div class="zc_shop" id="service_config">
    		<span>客服配置:</span>
    		<textarea name="affiliate[service_platform_config]" id="service_platform_config">{$info[affiliate][service_platform_config]}</textarea>
    		<span>参考格式:</span>
    		<textarea id="service_platform_config_template" readonly></textarea>
    	</div>
    	
    	<div class="zc_shop">
    		<span></span>
    		<input type="submit" name="submit" value="保存">
    	</div>
    	<input type="hidden" name="id" value="{$info.id}">
    	<input type="hidden" name="uid" value="{$info.uid}">
    </form>
</div>

<!-- [map]--> 
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=eCWdmc7BHYxtodg6gTc0TldaMgdFrBGP&services=&t=20171206111455"></script>  
<script type="text/javascript" src="__JS__/map.baidu.init.js"></script>
<script type="text/javascript" src="/Public/Admin/js/jquery.form.js"></script>
<script>
$(function(){
	//地图定位
	var option = {
		point : {lng : "{$info.longitude}", lat : "{$info.latitude}"},
		point_id : {lng_id : "lng", lat_id : "lat"},
		area_id : {province_id : "province", city_id : "city", district_id : "country"},
		address_id : "address",
	};
	bmap.init(option);
});
</script>
<!-- [/map] -->
<script type="text/javascript">
new uploadPreview({ UpBtn: "up_img_WU_FILE_0", DivShow: "warp_pic", ImgShow: "imgShow_WU_FILE_0",Width:210,Height:210});
new uploadPreview({ UpBtn: "up_img_WU_FILE_1", DivShow: "warp_pic", ImgShow: "imgShow_WU_FILE_1",Width:210,Height:210});

$(function(){
	
	getServicePlatformConfig($('#service_platform_id option:selected').val());
	$('#service_platform_id').change(function(){
		var platform_id = $(this).val();
		getServicePlatformConfig(platform_id);
	});
	
});

function getServicePlatformConfig(platform_id){
	if(platform_id==''){
		$('#service_platform_config_template').attr('placeholder','');
		$('#service_config').hide();
		return false;
	}else{
		$('#service_config').show();
	}
	var layer_id = waitingWin('数据加载中...');
	$.ajax({
		'url' : "{:U('Admin/Ajax/getCustomerServicePlatformConfig')}",
		'type' : 'post',
		'data' : {platform_id:platform_id},
		'success': function(re){
			layer.close(layer_id);
			re = $.parseJSON(re);
			if(re.error != ''){
				alert(re.error);
			}else{
				$('#service_platform_config_template').attr('placeholder',re.data);
			}
		},
		'error': function(e,msg){
			layer.close(layer_id);
			alert(msg);
		},
		'timeout': 10000
	});
}
</script>
