<div class="zc_anwia"><h2>规则修改</h2></div>
<div class="zc_message">
	<div class="shuoming">非专业技术人员，请勿随意 添加 或 修改，以免导致系统问题，影响系统正常使用！</div>
	<form name="rule_modify" id="rule_modify" method="post" action="{:U('__CONTROLLER__/regionSave')}">
		<input type="hidden" name="p" value="{$p}">
		<input type="hidden" name="chl" value="{$chl}">
		<input type="hidden" name="id" value="{$data.id}">
		<if condition="$p neq '0'">
			<p><span>区域名称：</span><input type="text" name="name" value="{$data.name}"/><span class="zc_if_alt"></span></p>
		</if>
		<if condition="$chl neq '0'">
			<p><span>区域名称：</span><input type="text" name="name" value="{$data.name}"/><span class="zc_if_alt"></span></p>
			<p><span>省份：</span>
				<select name="province">
					<foreach name="province" item="pro">
						<option value ="{$pro['province']}" <if condition="$data['province'] eq $pro['province']">selected="selected"</if>>{$pro['province']}</option>
					</foreach>
				</select>
				<span class="zc_if_alt"></span></p>
		</if>

	<p><input type="submit" name="submit" id="submit" value="保存"/></p>
	</form>
</div>