<div id="ajax_block">

<table>
	<thead>
		<tr>
			<th>奖项</th>
			<th>金额</th>
		</tr>
	</thead>
	<tr>
		<td>市场补贴奖</td>
		<td>{$statistics_info['marketsubsidy']|default='0.0000'}</td>
	</tr>
	<tr>
		<td>责任消费奖</td>
		<td>{$statistics_info['dutyconsume']|default='0.0000'}</td>
	</tr>
	<tr>
		<td>实体消费奖</td>
		<td>{$statistics_info['repeat']|default='0.0000'}</td>
	</tr>
	<tr>
		<td>机构补贴奖</td>
		<td>{$statistics_info['companysubsidy']|default='0.0000'}</td>
	</tr>
	<tr>
		<td>联盟投放奖</td>
		<td>{$statistics_info['uniondelivery']|default='0.0000'}</td>
	</tr>
	<tr>
		<td>商家联盟奖</td>
		<td>{$statistics_info['marchant']|default='0.0000'}</td>
	</tr>
	<tr>
		<td>免费补贴奖</td>
		<td>{$statistics_info['freesubsidy']|default='0.0000'}</td>
	</tr>
	<tr>
		<td>看广告</td>
		<td>{$statistics_info['viewad']|default='0.0000'}</td>
	</tr>
	<tr>
		<td>摇一摇</td>
		<td>{$statistics_info['shake']|default='0.0000'}</td>
	</tr>
	<tr>
		<td>分红</td>
		<td>{$statistics_info['bonus']|default='0.0000'}</td>
	</tr>
</table>

</div>