 <div class="zc_anwia">
	<h2>后台日志列表</h2>
</div>
<div class="zc_message">
	<div class="shuoming">
		所有类型日志均只保留并显示最近30天的信息！
	</div>
	<form name="logList" method="get" action="{:U('__CONTROLLER__/logList')}">
		<p class="left">
            <span style="padding-left:10px">类&nbsp;&nbsp;&nbsp;型：</span>
			<select name="type" class="form-control" onchange="changegly(this.value)">
				<option value="0" <if condition="$Think.get.type eq 0">selected</if> >后台操作日志</option>
				<option value="1" <if condition="$Think.get.type eq 1">selected</if> >APP登录日志</option>
				<option value="2" <if condition="$Think.get.type eq 2">selected</if> >APP当前用户</option>
			</select>
		</p>
        <p class="left" id="_gly_">
            <span style="padding-left:10px">管理员:</span>
	        <select name="admin_id" class="form-control" >
	            <foreach name="admin_list" item="list">
	            <option value="{$list.id}" <if condition="$list[id] eq $Think.get.admin_id">selected</if>>{$list.nickname}</option>
	            </foreach>
	        </select>
	    </p>
	    <p class="left">
	    	<span style="padding-left:10px">关键词：</span>
	    	<input type="text" name="keyword" value="{$Think.get.keyword}" class="form-control"/>
	    </p>
        <p>
        	<button type="submit" class="btn btn-primary"><span>{:L('search')}</span></button>
        </p>
    </form>
    <script type="text/javascript">
    changegly("{$Think.get.type}");
    function changegly(t){
		if(t != 0){
			$('#_gly_').hide();
		}else{
			$('#_gly_').show();	
		}
    }
    </script>
    <table>
        <thead>
            <tr>
                <th>编号</th>
                <th>
                	<if condition="$Think.get.type eq 0">
                	管理员
                	<else/>
                	用户
                	</if>
                </th>
                <th>操作日志</th>
                <th>操作日期</th>
                <th>登录IP</th>
                <!-- <th>操作</th> -->
            </tr>
        </thead>
        <tbody>
            <foreach name="log_list" item="list">
            <tr>
                <td>{$list.id}</td>
                <td>{$list.nickname}</td>
                <td>{$list.content}</td>
                <td>{$list.date_created|date="Y-m-d H:i:s",###}</td>
                <td class="ip">{$list.admin_ip}</td>
                <!-- <td>
                	<a href="{:U('__CONTROLLER__/logDelete/id/'.$list[id])}">删除</a>
                </td> -->
            </tr>
            </foreach>
        </tbody>
    </table>
</div>

<script>
$(function(){
	
	$(window).load(function(){
		getIpLocation();
	});
	
});
</script>