<div class="zc_anwia">
	<h2>编辑资料</h2>
</div>
<div class="zc_message">
	<form name="artform" role="form" method="post" action="__CONTROLLER__/memberSave/">
		<div class="form-group-separator">
			<label for="nickname" class="col-sm-2 control-label left">真实姓名</label>
			<div class="col-sm-3 left"><input type="text" name="data[truename]" id="truename" class="form-control zc_if_regulation zc_if_empty" placeholder="请输入真实姓名" value="{$info.truename}" /><span class="zc_if_alt"></span></div>
		</div>
		<div class="form-group-separator">
			<label for="nickname" class="col-sm-2 control-label left">用户账号</label>
			<div class="col-sm-3 left"><input type="text" name="data[loginname]" id="loginname" class="form-control zc_if_regulation zc_if_empty" placeholder="请输入真实姓名" value="{$info.loginname}" /><span class="zc_if_alt"></span></div>
		</div>
		<div class="form-group-separator">
			<label for="password" class="col-sm-2 control-label left"><span class="text-danger">*</span>登陆密码</label>
			<div class="col-sm-3 left"><input type="password" name="data[password]" id="password" class="form-control" placeholder="不修改请不要录入" value="" /></div>
		</div>
		<div class="form-group-separator">
			<label for="password" class="col-sm-2 control-label left"><span class="text-danger">*</span>确认登陆密码</label>
			<div class="col-sm-3 left"><input type="password" name="data[repassword]" id="password" class="form-control" placeholder="不修改请不要录入" value="" /></div>
		</div>
		<div class="form-group-separator">
			<label for="safe_password" class="col-sm-2 control-label left"><span class="text-danger">*</span>安全密码</label>
			<div class="col-sm-3 left"><input type="password" name="data[safe_password]" id="safe_password" class="form-control" placeholder="不修改请不要录入" value="" /></div>
		</div>
		<div class="form-group-separator">
			<label for="resafe_password" class="col-sm-2 control-label left"><span class="text-danger">*</span>确认安全密码</label>
			<div class="col-sm-3 left"><input type="password" name="data[resafe_password]" id="resafe_password" class="form-control" placeholder="不修改请不要录入" value="" /></div>
		</div>
		<div class="form-group-separator">
			<label for="reuserid" class="col-sm-2 control-label left"><span class="text-danger">*</span>推荐人</label>
			<div class="col-sm-3 lefte"><p class="form-control-static">{$info.reid|getZuser="username"}<span style="color:red;padding-left:3px;">[{$info.reid|getZuser="nickname"}]</span></p></div>
		</div>
		<div class="col-sm-2"></div>
		<button type="submit" style="margin:20px 0px 0px 120px" class="btn btn-primary">
			<span class="glyphicon glyphicon-floppy-saved"> 保 存</span>
		</button>
		<input type="hidden" name="data[id]" value="{$info.id}" />
	</form>
</div>