<style>
    .bank_balance em {
        margin-left: 5px;
        color: #000;
        cursor: pointer;
    }
</style>

<div class="zc_anwia">
    <h2>
    	GRB转出<if condition="$wallet_type eq 'ZWY'">中网云<elseif condition="$wallet_type eq 'AJS'"/>澳交所<elseif condition="$wallet_type eq 'SLU'"/>Silk Trader</if>审核管理 
    	<span style="color:red; margin:0 5px;">[主钱包({$master_wallet_address})余额:<if condition="$wallet_type eq 'SLU'">GRB:{$balance.grc|default='0'},SLU:{$balance.slu|default='0'}<else/>{$balance|default='0'}</if>]</span>
    	<span style="color:red; margin:0 5px;">[手续费总计:{$fee_score}]</span>
    </h2>
</div>
<div class="zc_message">
    <!-- [search] -->
    <form name="form" method="get" action="">
        <assign name="search_date_title" value="日期"/>
        <include file="./Appcenter/Public/public/common.search.html"/>

        <div class="form-group left">
            <label class="left">日期类型</label>
            <select name="date_type">
                <option value="addtime"
                <if condition="$Think.get.date_type eq '' or $Think.get.date_type eq 'addtime'">selected</if>
                >用户申请时间</option>
                <option value="uptime"
                <if condition="$Think.get.date_type eq 'uptime'">selected</if>
                >系统处理时间</option>
            </select>
        </div>

        <div class="form-group left">
            <label class="left">状态</label>
            <select class="form-control zc_input" name="status">
                <option value="0" <if condition="$Think.get.status eq '0'">selected</if> >待审核</option>
                <option value="1" <if condition="$Think.get.status eq '1'">selected</if> >驳回</option>
                <option value="2" <if condition="$Think.get.status eq '2'">selected</if> >提交失败</option>
                <option value="3" <if condition="$Think.get.status eq '3'">selected</if> >提交成功</option>
                <option value="4" <if condition="$Think.get.status eq '4'">selected</if> >执行队列中</option>
            </select>
        </div>
        
        <div class="form-group left">
            <label class="left">类型</label>
            <select class="form-control zc_input" name="type">
                <if condition="$wallet_type eq 'ZWY'">
                	<option value="ZWY" selected>中网云</option>
                <else/>
	                <option value="AJS" <if condition="$type eq 'AJS'">selected</if> >澳交所</option>
	                <option value="AGX" <if condition="$type eq 'AGX' or $type eq ''">selected</if> >AOGEX</option>
	                <option value="SLU" <if condition="$wallet_type eq 'SLU'">selected</if> >Silk Trader</option>
                </if>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" style="height:33px;">
            <span class="glyphicon glyphicon-search"> 搜 索</span>
        </button>

        <input type="hidden" name="p" value="1">
    </form>
    <!-- [/search] -->

    <!-- [list] -->
    <table class="table table-bordered table-hover" id="withdraw_list">
            <thead>
            <tr>
            	<th>ID</th>
                <th>用户</th>
                <th>转出GRB金额</th>
                <th>手续费</th>
                <th>流通资产</th>
                <th>钱包地址</th>
<!--                <th>兑换号</th>-->
                <th>备注</th>
                <th>状态</th>
                <th>
                    提交时间<br/>
                    处理时间
                </th>
                <th>明细</th>
            </tr>
            </thead>
            <tbody id="list">
            <volist name="list" id="item" key="k" mod="2">
                <tr>
                    <td align="center">
                        <label>
                            <if condition="$item[status] eq '0'">
                                <input type="checkbox" name="id[]" class="zc_choose" value="{$item.id}">
                            </if>
                            {$item.id}
                        </label>
                    </td>
                    <td>{$item.user.loginname}[{$item.user.username}]</td>
                    <td align="right" id="amount_{$k}" class="single_amount">{$item.third_amount}</td>
                    <td align="right" id="commission_{$k}" class="single_commission">{$item.fee}</td>
                    <td align="right">
                        扣：{$item.amount} <br/>
                        停：{$item.balance}
                    </td>
                    <td align="center">{$item.wallet_address}</td>
<!--                    <td align="center">{$item.txid}</td>-->
                    <td align="left">
                        {$item.explain} <br/>
                        {$item.remark}
                    </td>
                    <td align="center">
                    	<if condition="$item[status] eq '0'">
                    	待审核
                    	<elseif condition="$item[status] eq '1'"/>
                    	驳回
                    	<elseif condition="$item[status] eq '2'"/>
                    	提交失败
                    	<elseif condition="$item[status] eq '3'"/>
                    	提交成功
                    	<elseif condition="$item[status] eq '4'"/>
                    	执行队列中
                    	</if>
                    </td>

                    <td align="center">
                        <if condition="$item[addtime] neq '0'">{$item.addtime|date='Y-m-d H:i:s',###}</if><br />
                        <if condition="$item[uptime] neq '0'">{$item.uptime|date='Y-m-d H:i:s',###}</if>
                    </td>
                    <td align="center">
                        <if condition="$item[txid] neq ''"><a href="javascript:details('{$item.txid}');">查看</a></if>
                    </td>
                </tr>
            </volist>
            <tr id="amount_show">
                <td colspan="12" style="text-align:right">
                    <span class="amount_title">已勾选金额统计：</span><span class="amount_show">0</span>
                    <span style="display:inline-block; margin-top:5px; margin-bottom:5px;">
                    <div class="exportData"><button type="button" onclick="exportData()" class="btn">导出</button></div>
                </td>
            </tr>
            <tr id="zc_all_list">
                <td colspan="12" style="text-align:center">
                    <if condition="$item.status eq '0'">
                        <input type="button" value="全选" class="btn zc_selesce" id="selectAll" style="background:#999;">
                        <input type="button" value="全不选" class="btn zc_selesce" id="unSelect" style="background:#999;">
                        <input type="button" value="批量转账" class="btn zc_selesce" id="TradeAction" onclick="return TradeAction();">
                        <input type="button" value="批量驳回" class="btn zc_selesce" id="TradeBack" onclick="return TradeBack();" style="background:red;">
                        <input type="text" name="remark" class="hidden remark" value="" placeholder="驳回理由">
                    </if>
                </td>
            </tr>
            </tbody>
    </table>
    <!-- [/list] -->
</div>

<script type="text/javascript">
    var amount = 0;
    var commission = 0;
    var qxuan = document.getElementsByName("id[]");
    var selectAll = document.getElementById("selectAll");
    var unSelect = document.getElementById("unSelect");
    var all = document.getElementById("all");
    $(function () {
        selectChangeBase();
        //单选事件
        $('.zc_choose').change(function () {
            selectChangeBase();
        });

        $('#selectAll').click(function () {
            $('#withdraw_list input:checkbox').prop('checked', true);
            selectChangeBase();
        });

        $('#unSelect').click(function () {
            $('#withdraw_list input:checkbox').prop('checked', false);
            selectChangeBase();
        });

        //多选框基础
        function selectChangeBase() {
            var amount = 0;
            var commission = 0;
            $('#withdraw_list input:checkbox:checked').each(function (index, item) {
                amount += parseFloat($(this).parents('tr').find('.single_amount').text());
                commission += parseFloat($(this).parents('tr').find('.single_commission').text());
            });
            var show_content = amount.toFixed(2) + '，手续费统计:' + commission.toFixed(2);
            $('.amount_show').text(show_content);
        }

    });

    //进行转账操作
    function TradeAction() {
        var is_black_count = 0;
        var obj = document.getElementsByName("id[]");
        var check_val = [];
        
        for (k in obj) {
            if (obj[k].checked) {
                check_val.push(obj[k].value);
            }
        }

        if (check_val.length == 0) {
            alert('请选择后再执行确认操作');
            return false;
        }
        
        //判断主钱包余额是否满足勾选转出的统计金额
        $transfer_amount = $('.amount_show').text();
        if ("{$wallet_type}" == 'SLU') {
        	if (parseFloat("{$balance.grc}") < $transfer_amount || parseFloat("{$balance.slu}") < 1) {
        		alert('余额不足');
        		return false;
        	}
        } else {
        	if (parseFloat("{$balance}") < $transfer_amount) {
        		alert('余额不足');
        		return false;
        	}
        }
        
        if (confirm("确定执行操作？")) {
            waitingWin('正在处理中，请稍后...');
            $.ajax({
                url: "{:U('__CONTROLLER__/tradeAction')}",
                type: "post",
                data: {id: check_val, wallet_type: "{$wallet_type}"},
                timeout: 0,
                success: function (re) {
                    layer.closeAll();
                    if (re == '') {
                        alert('已成功加入队列,稍后系统将自动执行转账操作');
                        window.location.reload();
                    } else {
                        alert(re);
                        return false;
                    }
                },
                error: function (e) {
                	e = JSON.stringify(e);
                	alert(e);
                	e = $.parseJSON(e);
                	console.log(e);
                    alert('异常错误');
                    window.location.reload();
                }
            });
        } else {
            return false;
        }
        return true;
    }
    
  //进行退款操作
    function TradeBack() {
        var is_black_count = 0;
        var obj = document.getElementsByName("id[]");
        var check_val = [];
        var remark = $('.remark').val();
        
        for (k in obj) {
            if (obj[k].checked) {
                check_val.push(obj[k].value);
            }
        }

        if (check_val.length == 0) {
            alert('请选择后再执行确认操作');
            return false;
        }
        if (remark == '') {
        	alert('请填写驳回理由');
        	return false;
        }
        
        if (confirm("确定执行操作？")) {
            waitingWin('正在处理中，请稍后...');
            $.ajax({
                url: "{:U('__CONTROLLER__/tradeBack')}",
                type: "post",
                data: {id: check_val, remark: remark},
                timeout: 0,
                success: function (re) {
                    layer.closeAll();
                    if (re == '') {
                        alert('批量驳回已完成');
                        window.location.reload();
                    } else {
                        alert(re);
                        return false;
                    }
                },
                error: function (e) {
                    alert(e);
                    window.location.reload();
                }
            });
        } else {
            return false;
        }
        return true;
    }
    

    //查看明细
    function details(txid) {
    	if (txid=='') {
    		alert('暂无对应明细');
    		return false;
    	}
    	
    	var layer_id = waitingWin('加载中，请稍后...');
    	
    	$.ajax({
    		url: "{:U('Admin/Ajax/getGrbTransactionDetails')}",
    		type: "post",
    		data: {txid: txid},
    		timeout: 5000,
    		success: function(re){
    			layer.close(layer_id);
    			layer.open({
    				'id': 'A',
                    'title': '转账明细',
                    'content': re,
                    'area': 'auto',
                    'maxWidth': CW - 200,
                    'maxHeight': CH - 200,
                    //'btn': false,
                });
    		},
    		error: function(e){
    			layer.close(layer_id);
    			alert(e);
    			return false;
    		}
    	});
    }
</script>