<div class="zc_anwia">
	<h2><if condition="$_GET['type'] eq 0">未审核<else/>已审核</if>合伙人</h2>
</div>
<div class="zc_message">
	<!-- [search] -->
	<form name="form" method="get" action="">
		<assign name="search_date_title" value="升级日期"/>
		<include file="./Appcenter/Public/public/common.search.html"/> 
		
		<div class="form-group left">
			<label class="control-label left">审核结果</label>
			<select name="status">
				<option value="0" <if condition="$Think.get.status eq '' or $Think.get.status eq '0'">selected</if> >全部</option>
				<option value="1" <if condition="$Think.get.status eq '1'">selected</if> >审核通过</option>
				<option value="2" <if condition="$Think.get.status eq '2'">selected</if> >审核驳回</option>
			</select>
		</div>

		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-search"> 搜 索</span>
		</button>
		
		<input type="hidden" name="p" value="1">
	</form>
	<!-- [/search] -->
	
	<!-- [list] -->
	<table>
		<thead>
			<tr>
				<th>账号</th>
				<th>姓名</th>
				<th>昵称</th>
				<th>身份证正面</th>
				<th>身份证反面</th>
				<th>营业执照</th>
				<th>形象照</th>
				<th>申请时间</th>
				<th>通过时间</th>
				<th>当前身份</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="info" id="item" key="k" mod="2">
			<tr>
				<td>{$item.uid|getUser='username'}</td>
				<td>{$item.uid|getUser='truename'}</td>
				<td>{$item.nickname}</td>
				<td><img src="{:U('/', '','', true)}{$item.img1}" class="img-thumbnail" alt="此处显示图片" width="100" height="100">
				<a class="text-danger" data-toggle="modal" data-target="#myModal{$item.img1|substr=17,13}">点击看大图</a>
				</td>
				<td><img src="{:U('/', '','', true)}{$item.img2}" class="img-thumbnail" alt="此处显示图片" width="100" height="100">
				<a class="text-danger" data-toggle="modal" data-target="#myModal{$item.img2|substr=17,13}">点击看大图</a>
				</td>
				<td><img src="{:U('/', '','', true)}{$item.img3}" class="img-thumbnail" alt="此处显示图片" width="100" height="100">
				<a class="text-danger" data-toggle="modal" data-target="#myModal{$item.img3|substr=17,13}">点击看大图</a>
				</td>
				<td width="450">
				<volist name="item.img4" id="pic">
					<div class="left" style="margin-left:10px;">
						<img src="{:U('/', '','', true)}{$pic}" class="img-thumbnail img_thaiena" alt="此处显示图片" width="100" height="100">
						<a class="text-danger zc_cbtn zc_left_img" href="javascript:;" data-toggle="modal" data-target="#myModal{$pic|substr=17,13}">点击看大图</a>
					</div>
				</volist>
				</td>
				<td>{$item.get_time|format_date}</td>
				<td>{$item.post_time|format_date}</td>
				<td>
					<if condition="$item['level'] eq '1'">体验用户</if>
					<if condition="$item['level'] eq '2'">个人代理</if>
					<if condition="$item['is_partner'] eq '1'">合伙人</if>
					<if condition="$item['role'] eq '3'">区域合伙人</if>
					<if condition="$item['role'] eq '4'">省级合伙人</if>
					<if condition="$item['level'] eq '5'">爱心创客</if>
					<!--<if condition="$item['level'] eq '6'">金卡代理</if>-->
					<!--<if condition="$item['level'] eq '7'">钻卡代理</if>-->
				</td>
				<td>
					<if condition="$item.status eq '0' ">
						<a href="__CONTROLLER__/partnerReviewCenter/status/1/apply_level/{$item.apply_level}/id/{$item.id}/" class="btn btn-success" onclick="return confirmWin();">审核通过</a>
						| <a href="javascript:;" url="__CONTROLLER__/partnerReviewCenter/status/2/apply_level/{$item.apply_level}/id/{$item.id}/" class="btn btn-success zc_Bxoani_if zccolor">驳回</a>
					<elseif condition="$item.status eq 1 " />						
						审核状态：通过&nbsp;&nbsp;&nbsp;
						<a href="{:U('Admin/Member/memberModify/extend/'.$item[uid])}" class="btn btn-success">编辑资料</a>
						<if condition="$sess_auth['admin_level'] eq 99 || is_small_super">
							<a href="{:U('Admin/Member/superLogin/member_id/'.$item[uid])}" class="glyphicon glyphicon-ok-circle" onclick="return confirmWin();">登录</a>
						</if>
					<elseif condition="$item.status eq 2 " />
						审核状态：不通过&nbsp;&nbsp;&nbsp;
						<br>驳回理由:{$item.reason}
					<else/>
						后台手动直接升级
					</if>			
				</td>
			</tr>
			</volist>
		</tbody>
	</table>
	<!-- [/list] -->
	
	<p style="text-align:right;"><button type="button" onclick="exporta()" class="btn btn-success zc_submit">导出</button></p>
	
	<style type="text/css">
		.zc_kepadmie{
			position:fixed;
			width:100%;
			height:100%;
			background:rgba(0,0,0,0.5);
			left:0px;
			top:0px;
			z-index:1197;
			display:none;
		}
		.zc_dnsai{
			width:500px;
			height:300px;
			background:#fff;
			border:1px solid #ddd;
			position:fixed;
			left:50%;
			margin-left:-250px;
			margin-top:-150px;
			top:50%;
			z-index: 1198;
			display:none;
		}
		.zc_dnsai h3{
			height:40px;
			border-bottom:1px solid #ddd;
			line-height:40px;
			text-indent:20px;
		}
		.zc_liyou{
			width:99%;
			height:180px;
			color:#999;
			border: 1px red solid;
		}
		.zc_affirm{
			display:block;
			width:70%;
			height:40px;
			margin:0 auto;
			background:#00a0e9;
			color:#fff;
			text-align:center;
			line-height:40px;
			font-size:16px;
		}
	</style>
	<div class="zc_kepadmie"></div>
	<div class="zc_dnsai">
		<h3>驳回理由</h3>
		<textarea class="zc_liyou"></textarea>
		<a href="javascript:;" class="zc_affirm">确认驳回</a>
	</div>
</div>
<script>
var bohui_href = '';
$(function(){
	
	$(".zc_Bxoani_if").on("click",function(){
		$(".zc_dnsai,.zc_kepadmie").show();
		bohui_href = $(this).attr('url');
		return false;
	});
	$(".zc_kepadmie").on("click",function(){
		$(".zc_dnsai,.zc_kepadmie").hide();
	});
	$(".zc_affirm").on("click", function(){
		//var href = $(".zc_Bxoani_if").attr('url');
		var reason = $(".zc_liyou").val();
		 reason = $.trim(reason);
		if(reason==''){
			layer.msg('请填写驳回理由',{
				time:1000
			});
			return false;
		}else{
			location.href = bohui_href+'/reason/'+encodeURI(encodeURI(reason));
		}
	});
	
});
	
//审核通过时提示手动增加积分
function getServiceCompanyPointsConfig(obj){
	$.ajax({
		url: "{:U('Admin/Ajax/getServiceCompanyPointsConfig')}",
		type: 'post',
		success: function(data){
			if(data.error!=''){
				alert(data.error);
			}else{
				if(confirm('确认执行该操作?')){
					if(data.data.service_company_points=='1'){
						if(!confirm('系统检测到区域合伙人审核通过后赠送积分方案为手动赠送。\n请审核通过后手动为该用户增加'+data.data.company_points+'积分！')){
							return false;
						}
					}
					location.href = $(obj).attr('href');
				}
			}
		},
	});
	
	return false;
}

function exporta(){
	var p = "{$Think.get.p}";
	var type = "{$Think.get.type}";
	var status = "{$Think.get.status}";
	var userid = "{$Think.get.userid}";
	var starttime = "{$Think.get.time_min}";
	var endtime = "{$Think.get.time_max}";
	window.open('/Admin/Review/agentReviewExportAction?type='+type+'&status='+status+'&userid='+userid+'&p='+p+'&time_min='+starttime+'&time_max='+endtime);
}
</script>