<script type="text/javascript" src="__JS_ADMIN__/uploadPreview.min.js"></script>
<script type="text/javascript" src="__JS__/laydate/laydate.js"></script>

<div class="zc_anwia">
	<h2>新闻资讯添加</h2>
</div>
<div class="zc_message">
	<form name="add" method="post" action="{:U('__CONTROLLER__/add')}" enctype="multipart/form-data">
		<div class="zc_shop">
			<span>标题</span>
			<input type="text" name="title" value="" class="inputWidth100 zc_if_empty">
			<input type="text" name="title_en" value="" class="inputWidth100" placeholder="标题-英文">
			<input type="text" name="title_ko" value="" class="inputWidth100" placeholder="标题-韩文">
		</div>
		<div class="zc_shop">
			<span>分类</span>
			<select name="category">
			<foreach name="category_list" item="item" key="key">
				<option value="{$key}">{$item}</option>
			</foreach>
			</select>
		</div>
		<div class="zc_shop">
			<span>排序</span>
			<input type="text" name="sort" value="">
		</div>
		<div class="zc_shop">
            <span>封面</span>
            <ul id="warp2">
                <li>
                    <div class="warp_pic">
                        <img id="imgShow_WU_FILE_0" src="{:U('/', '','', true)}/Public/Public/images/zc_default.jpg"
                             class="zc_shop_img"/>
                    </div>
                    <div class="zc_imgStum">上传文件</div>
                    <input type="file" id="up_img_WU_FILE_0" name="cover" class="zc_np_pic"/>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
		<div class="zc_shop">
			<span>内容</span>
			<textarea id="content1" name="content" style="width:100%;height:300px;visibility:hidden;resize:none"></textarea>
			<span>内容-英文</span>
			<textarea id="content2" name="content_en" style="width:100%;height:300px;visibility:hidden;resize:none"></textarea>
			<span>内容-韩文</span>
			<textarea id="content3" name="content_ko" style="width:100%;height:300px;visibility:hidden;resize:none"></textarea>
		</div>
		<div class="zc_shop">
			<span>创建时间</span>
			<input type="text" class="layui-input" id="created_at" name="created_at">
		</div>
		<div class="zc_shop">
			<span>修改时间</span>
			<input type="text" class="layui-input" id="updated_at" name="updated_at">
		</div>
		<div class="zc_shop">
			<span></span>
			<input type="submit" name="submit" value="添加">
		</div>
	</form>
</div>

<script type="text/javascript">
new uploadPreview({
	UpBtn: "up_img_WU_FILE_0",
    DivShow: "warp_pic",
    ImgShow: "imgShow_WU_FILE_0",
    Width: 210,
    Height: 210
});

layui.use('laydate', function(){
	var laydate = layui.laydate;
	
	laydate.render({
		elem: '#created_at',
		type: 'datetime'
	});
	
	laydate.render({
		elem: '#updated_at',
		type: 'datetime'
	});
});
</script>