<div class="zc_anwia">
	<h2>摇中记录管理</h2>
</div>
<div class="zc_message">
	<!-- [search] -->
	<form name="shakeSearch" method="get" action="__ACTION__">
		<assign name="search_user_hide" value="1"/>
		<assign name="search_date_title" value="摇中日期"/>
		<assign name="search_date_min_value" value="$Think.get.time_min"/>
		<assign name="search_date_max_value" value="$Think.get.time_max"/>
		<include file="./Appcenter/Public/public/common.search.html"/>
		
		<input type="hidden" name="itemid" value="{$Think.get.shake_id}">
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-search">搜 索</span>
		</button>
	</form>
	<!-- [/search] -->
	
	<!-- [list] -->
	<table>
		<thead>
			<tr>
				<th>序号</th>
				<th>摇中者账号</th>
				<th>现金币</th>
				<th>积分</th>
				<th>摇中时间</th>
			</tr>
		</thead>
		<tbody>
			<foreach name="list" item="item">
			<tr>
				<td>{$item.records_id}</td>
				<td>{$item.loginname}[{$item.nickname}]</td>
				<td>{$item.records_cash}</td>
				<td>{$item.records_credits}</td>
				<td>{$item.records_addtime|date='Y-m-d H:i:s',###}</td>
			</tr>
			</foreach>
		</tbody>
	</table>
	<!-- [/list] -->
</div>