<script type="text/javascript" src="__JS_ADMIN__/uploadPreview.min.js"></script>

<div class="zc_anwia"><h2>商品管理</h2></div>
<div class="zc_message">
    <form name="goodsSave" method="post" action="#" enctype="multipart/form-data">
        <div class="zc_shop">
            <span>商品名称:</span>
            <input type="text" name="name" value="{$info.name}" class="inputWidth200 zc_if_empty" disabled>
        </div>
        <div class="zc_shop">
            <span>商品图片:</span>
            <ul id="warp2">
                <li>
                    <div class="warp_pic">
                        <if condition="preg_match('/^http/',$info['img'])">
                            <img id="imgShow_WU_FILE_0" src="{$info.img}" class="zc_shop_img"/>
                            <else/>
                            <img id="imgShow_WU_FILE_0" src="{:U('/', '','', true)}{$info.img}" class="zc_shop_img"/>
                        </if>
                    </div>

                </li>
            </ul>
        </div>
        <div class="clear1"></div>
        <div class="zc_shop">
            <span>所属板块:</span>
            <select name="affiliate[block_id]" id="block_id" disabled>
                <foreach name="block" item="item">
                    <if condition="$info[affiliate][block_id] eq $item[block_id]">
                        <option value="{$item.block_id}" selected>{$item.block_name}</option>
                    </if>
                </foreach>
            </select>
        </div>
        <div class="zc_shop">
            <span>所属分类:</span>
            <assign name="select_category_fid_value" value="$info['fid']"/>
            <assign name="select_category_fid_disabled" value="1"/>
            <assign name="select_category_sid_value" value="$info['typeid']"/>
            <assign name="select_category_sid_disabled" value="1"/>
            <include file="./Appcenter/Public/public/common.category.html"/>
        </div>
        <div class="zc_shop">
            <span>商品数量:</span>
            <input type="text" name="totalnum" value="{$info.totalnum}" class="zc_if_number zc_if_empty" disabled>
        </div>
        <div class="zc_shop">
            <span>已售数量:</span>
            <input type="text" name="exchangenum" value="{$info.exchangenum}" class="zc_if_number zc_if_empty" disabled>
        </div>
        <div class="zc_shop">
            <span>商品原价:</span>
            <input type="text" name="price" id="price" value="{$info.price}" class="zc_if_price zc_if_empty" disabled>
        </div>

        <div class="zc_shop cl0 jiage">
            <span>销售价格:</span>
            <input type="text" name="product_price_1[price_cash]" value="{$info.product_price_1.price_cash}"
                   class="zc_if_price zc_if_empty" disabled>
        </div>
        <div class="zc_shop  cl1 jiage">
            <span>业绩计算比例：</span>
            <input type="text" name="product_price_1[performance_bai_cash]" class="zc_if_price yeji_bili"
                   value="{$info.product_price_1.performance_bai_cash}" maxlength="2" disabled>%
        </div>


        <div class="zc_shop">
            <span>物流运费:</span>
            <input type="text" name="affiliate[affiliate_freight]" id="affiliate_freight"
                   value="{$info.affiliate.affiliate_freight}" disabled>
        </div>

        <div style="clear:both"></div>

        <div class="zc_shop">
            <label style="margin-left:0;">轮播图片:</label>
            <ul id="warp" class="clear">
                <foreach name="info['carousel1']" key="key" item="item1">
                    <li class="zc_details_item_{$key}" itemid="{$key}">
                        <div class="warp_pic">
                            <if condition="preg_match('/^http/',$item1)">
                                <img id="imgShow_WU_FILE_{$key}" src="{$item1}" class="zc_shop_img" alt="图片加载错误"/>
                                <else/>
                                <img id="imgShow_WU_FILE_{$key}" src="{:U('/', '','', true)}{$item1}"
                                     class="zc_shop_img" alt="图片加载错误"/>
                            </if>
                        </div>
                    </li>
                </foreach>
            </ul>
        </div>
        <div class="clear1"></div>

        <div class="zc_shop">
            <label style="margin-left:0;">商品描述:</label>
            <textarea id="content1" name="content" style="width:100%;height:300px;visibility:hidden;resize:none" disabled>{$info.content|htmlspecialchars_decode}</textarea>
        </div>

    </form>
</div>
