<div class="zc_anwia">
	<h2>日分红明细</h2>
</div>
<div class="zc_message">
	<!-- [form] -->
	<form name="search" method="get" action="__ACTION__">
		<input type="text" name="keyword" class="inputWidth200" value="{$Think.get.keyword}" placeholder="请输入分红用户帐号">
		<input type="hidden" name="id" value="{$Think.get.id}"/>
		
		<label>分红类型</label>
		<select name="bonus_type">
			<option value="cash">现金币</option>
			<option value="goldcoin">公让宝</option>
			<option value="colorcoin">商超券</option>
		</select>
		
		<button type="submit" class="btn btn-primary">搜 索</button>
	</form>
	<!-- [/form] -->
	<table>
		<thead>
			<tr>
				<th>分红用户</th>
				<th>用户股数(股)</th>
				<th>分红金额(元)</th>
				<th>分红时间</th>
			</tr>
		</thead>
		<tbody>
			<foreach name="list" key="key" item="item">
			<tr>
				<td>{$item.loginname}[{$item.nickname}]</td>
				<td>{$item.bonus}</td>
				<td>{$item.record_amount}</td>
				<td>{$item.record_addtime|date='Y-m-d H:i:s',###}</td>
			</tr>
			</foreach>
		</tbody>
	</table>
</div>