<div class="zc_anwia">
	<h2>客服平台修改</h2>
</div>
<div class="zc_message">
	<form name="customerServiceSave" method="post" action="{:U('__CONTROLLER__/customerServiceSave')}">
		<div class="zc_shop">
			<div><span>平台名称:</span></div>
			<select name="platform_name">
				<foreach name="platform_list" key="key" item="item">
				<option value="{$key}" <if condition="$key eq $info[platform_name]">selected</if> >{$item}</option>
				</foreach>
			</select>
		</div>
	
		<div class="zc_shop">
			<div><span>平台配置参数模板:</span></div>
			<textarea name="platform_config">{$info.platform_config}</textarea>
		</div>
		
		<div>
			<span></span>
			<input type="submit" name="submit" value="保存">
			<input type="hidden" name="platform_id" value="{$info.platform_id}">
		</div>
	</form>
</div>