<style>
#date_select label {font-size:16px;}
</style>
<div class="zc_anwia">
	<h2>广告添加</h2>
</div>
<div class="zc_message">
	<form name="adAddAction" method="post" action="{:U('__CONTROLLER__/adAddAction')}" enctype="multipart/form-data" onsubmit="return check();">
		<div class="zc_shop">
			<span>主标题：</span><input type="text" name="ad_title" class="zc_if_empty inputWidth400">
		</div>
		<div class="zc_shop">
			<span>副标题：</span><input type="text" name="ad_subtitle" class="inputWidth300" placeholder="可为空">
		</div>
		<div class="zc_shop">
			<span>现金币投放单价：</span><input type="text" name="ad_amount" class="zc_if_empty zc_if_price">
		</div>
		<div class="zc_shop">
			<span>公让宝投放单价：</span><input type="text" name="ad_amount_credits" class="zc_if_empty zc_if_price">
		</div>
		<div class="zc_shop">
			<span>创客封顶总额：</span>
			现金币<input type="text" name="ad_amount_max" class="zc_if_empty zc_if_price">，
			公让宝<input type="text" name="ad_amount_credits_max" class="zc_if_empty zc_if_price">
		</div>
		<div class="zc_shop">
			<span>VIP封顶总额：</span>
			现金币<input type="text" name="ad_amount_vip_max" class="zc_if_empty zc_if_price">，
			公让宝<input type="text" name="ad_amount_vip_credits_max" class="zc_if_empty zc_if_price">
		</div>
		<div  class="zc_shop">
			<span>&nbsp;&nbsp;&nbsp;图片：</span>
		<ul id="warp" class="clear">
	                <li>
	                    <div class="warp_pic">
	                        <img id="imgShow_WU_FILE_0" src="" class="zc_shop_img" />
	                    </div>
	                    <div class="zc_imgStum">上传文件</div>
	                    <input type="file" id="up_img_WU_FILE_0" name="ad_image" class="zc_np_pic" />
	                </li>
           		 </ul>
		</div>
		<div class="zc_shop">
			<span>&nbsp;跳转类型：</span>
			<select id="ad_type" name="ad_type">
				<option value="0" selected ph="跳转类型为不跳转时可为空">不跳转</option>
				<option value="1" ph="请输入外部链接地址">外部链接</option>
				<option value="2" ph="请输入店铺ID">店铺ID</option>
				<option value="3" ph="请输入商品ID">商品ID</option>
			</select>
		</div>
		<div class="zc_shop">
			<span>&nbsp;跳转链接：</span>
			<input type="text" name="ad_link" id="ad_link_input" class="inputWidth400" placeholder="跳转类型为不跳转时可为空">
		</div>
		<div id="date_select">
			<assign name="search_user_hide" value="1"/>
			<assign name="search_date_title" value="开始结束："/>
			<include file="./Appcenter/Public/public/common.search.html"/> 
			<div style="clear:both;"></div>
		</div>
		<div>
			<span></span>
			<input type="submit" name="submit" value="添加">
			<input type="hidden" name="ad_status" value="2">
		</div>
	</form>
</div>
<script type="text/javascript">
new uploadPreview({ UpBtn: "up_img_WU_FILE_0", DivShow: "warp_pic", ImgShow: "imgShow_WU_FILE_0",Width:210,Height:210});
	
$(function(){
	
	$('#ad_type').change(function(){
		var ph = $(this).find('option:selected').attr('ph');
		$('#ad_link_input').val('').attr('placeholder', ph);
		
		if($(this).val()=='1') {
			$('#ad_link_input').val('http://');
		}
	});
	
});
</script>