<div class="zc_anwia">
	<h2>广告管理</h2>
	<span><a href="{:U('__CONTROLLER__/adAdd')}">发布广告</a></span>
</div>
<div class="zc_message zc_message_feedback">
	<!-- [list] -->
	<table>
		<thead>
			<tr>
				<th>编号ID</th>
				<th>标题</th>
				<th>现金币金额</th>
				<th>公让宝金额</th>
				<th>创客现金币/公让宝封顶金额</th>
				<th>VIP现金币/公让宝封顶金额</th>
				<th>图片</th>
				<th>链接</th>
				<th>状态</th>
				<th>累计浏览/次</th>
				<th>今日浏览/次</th>
				<th>开始时间</th>
				<th>结束时间</th>
				<th>发布时间</th>
				<th>发布者</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<foreach name="list" item="item">
			<tr>
				<td>{$item.ad_id}</td>
				<td>{$item.ad_title}</td>
				<td>{$item.ad_amount}</td>
				<td>{$item.ad_amount_credits}</td>
				<td>{$item.ad_amount_max} / {$item.ad_amount_credits_max}</td>
				<td>{$item.ad_amount_vip_max} / {$item.ad_amount_vip_credits_max}</td>
				<td>
					<img src="{:U('/','','',true)}{$item.ad_image}" width="0" height="0" style="display:none;">
					<a href="javscript:;" class="text-danger" data-toggle="modal">点击查看</a>
				</td>
				<td>
					<if condition="$item[ad_type] eq '0'">
					{$item.ad_type_cn}
					<elseif condition="$item[ad_type] eq '1'"/>
					<a href="{$item.ad_link}" target="_blank" title="{$item.ad_link}">{$item.ad_type_cn}</a>
					<else/>
					{$item.ad_type_cn}:{$item.ad_link}
					</if>
				</td>
				<td>{$item.ad_status_cn}</td>
				<td>{$item.view_all}</td>
				<td>{$item.view_today}</td>
				<td>{$item.ad_starttime|date='y/m/d',###}</td>
				<td>{$item.ad_endtime|date='y/m/d',###}</td>
				<td>{$item.ad_pushtime|date='y/m/d',###}</td>
				<td>{$item.loginname}[{$item.nickname}]</td>
				<td>
					<a href="{:U('__CONTROLLER__/adModify/id/'.$item['ad_id'])}">编辑</a>
					<a href="{:U('__CONTROLLER__/adStatus/id/'.$item['ad_id'])}"><if condition="$item['ad_status'] eq '2'">停止投放<elseif condition="$item['ad_status'] neq '3'"/><span style="color:red;">开启投放</span></if></a>
					<a href="{:U('__CONTROLLER__/adDelete/id/'.$item['ad_id'])}">删除</a>
					<a href="{:U('__CONTROLLER__/adView/id/'.$item['ad_id'])}">浏览记录</a>
				</td>
			</tr>
			</foreach>
		</tbody>
	</table>
	<!-- [/list] -->
</div>