<div class="zc_anwia">
	<h2>第三方互转记录</h2>
</div>
<div class="zc_message">
	<!-- [notice] -->
	<div class="shuoming_warning">默认只显示当前月的记录，可通过日期搜索查看历史记录</div>
	<!--  [/notice] -->
	<!-- [search] -->
	<form name="form" method="get" action="" class="clear">
		<assign name="search_date_title" value="日期"/>
		<include file="./Appcenter/Public/public/common.search.html"/> 
		
		<span>类型：</span>
		<select name="type">
			<option value="2" <if condition="$Think.get.type eq '2'"> selected="selected"</if> >丰谷宝</option>
		</select>
		
		<span>操作：</span>
		<select name="inout">
			<option value="1" <if condition="$Think.get.inout eq '1'">selected="selected"</if> >转入</option>
			<option value="2" <if condition="$Think.get.inout eq '' || $Think.get.inout eq '2'">selected="selected"</if> >转出</option>
		</select>
		
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-search"> 搜 索</span>
		</button>
		
	</form>
	<!-- [/search] -->
	<div style=" margin:0px 0px 12px 0px; font-size: 16px;">
		总转账额：<span style=" color:#a00; font-weight: bold;">{$total|default='0.00'}</span>
	</div>
	<!-- [list] -->
	<table>
		<thead>
			<tr>
				<th>用户账号</th>
				<th>第三方账号</th>
				<th>转账金额</th>
				<th>转账说明</th>
				<th>操作时间</th>														
			</tr>
		</thead>
		
		<tbody id="list">
			<foreach name="list" item="item">
			<tr>
				<td>{$item.loginname}[姓名:{$item.username}]</td>
				<td>地址:{$item.third_info.address},兑换费率:{$item.third_info.fee}%</td>
				<td>{$item.record_amount}</td>
				<td>{$item.record_remark}</td>
				<td>{$item.record_addtime|date='Y-m-d H:i:s',###}</td>
			</tr>
			</foreach>				
		</tbody>

	</table>
	<!-- [/list] -->
	
	<div class="exportData" style="text-align:right;"><button type="button" onclick="exportData()" class="btn">导出</button></div>
	
</div>