<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title> 接口测试-第四版</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="/Public/Api/js/css.css" rel="stylesheet">
	</head>
<body>

<div  class="testdiv">
	<h3>接口测试</h3>
	<ul class="uldiv">
		<li>1、<a href="{:U('Unittest/hack_apply')}">申请成为创客</a> <span>[已改]</span> </li>
		<li>2、<a href="{:U('Unittest/exchange_confirm')}">购买兑换商品</a> <span>[已改]</span></li>
		<li>3、<a href="{:U('Unittest/checkno')}">店铺输入兑换码兑换商品</a> <span>[已改]</span></li>
		<li>4、<a href="{:U('Unittest/account_transfer')}">现金或公让宝互转</a> <span>[已改]</span></li>
		<li>5、<a href="{:U('Unittest/cash_2_goldcoin')}">现金转丰谷宝</a> <span>[已改]</span></li>
		<li>6、<a href="{:U('Unittest/withdraw_cash_apply_weixin')}">微信提现申请</a> <span>[已改]</span></li>
		<li>8、<a href="{:U('Unittest/withdraw_cash_apply_cgbcard')}">银行卡提现申请</a> <span>[已改]</span></li>
		<li>9、<a href="{:U('Unittest/userReceive')}">用户收款</a> <span>[废弃]</span></li>
		<li>10、<a href="{:U('Unittest/consume')}">在线买单</a> <span>[已改]</span></li>
		<li>11、<a href="{:U('Unittest/thirdparty_recharge')}">第三方充值 (支付宝,微信)</a> <span>[已改]</span></li>
		<li>12、<a href="{:U('Unittest/shake')}">摇一摇红包</a> </li>
		<li>13、<a href="{:U('Unittest/exchange_delete')}">订单退款/取消</a> <span>[已改]</span></li>
	</ul>
</div>

</body>
</html>