{__NOLAYOUT__}
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>{$Think.config.APP_TITLE}_{$title}</title>
    <!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/H5/css/base.css"/>-->
    <style>
        h3 {
             text-align: center
         }
    </style>
</head>
<body>
<div>
    <h3>{$title}</h3>
    <div>
        {$content}
    </div>
</div>
</body>
</html>